# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [6]:
vac_df = pd.read_csv("city_data.csv")
vac_df

,Unnamed: 0,Cloudiness,Country,Date,Humidity,Lat,Lon,Max Temp,Wind Speed
0,khorinsk,45,RU,1581043608,84,52.17,109.77,257.56,0.98
1,rikitea,100,PF,1581043608,79,-23.12,-134.97,299.67,7.79
2,guerrero negro,0,MX,1581043609,68,27.98,-114.06,287.85,5.85
3,ploemeur,21,FR,1581043609,80,47.73,-3.43,279.82,4.10
4,albany,90,US,1581043371,80,42.60,-73.97,275.15,2.10
...,...,...,...,...,...,...,...,...,...
556,monrovia,20,LR,1581043450,94,6.30,-10.80,297.15,0.88
557,quatre cocos,40,MU,1581043737,78,-20.21,57.76,299.15,3.60
558,karasburg,41,NaN,1581043737,44,-28.02,18.75,295.50,4.27
559,beyneu,66,KZ,1581043738,69,45.32,55.20,278.31,4.67
560,koungou,96,YT,1581043738,94,-12.73,45.20,299.15,1.50

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [8]:
gmaps.configure(api_key=g_key)
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)
fig.add_layer(heat_layer)
fig
#change data frame name

NameError: name 'city_data_df' is not defined

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map