# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [5]:
vac_df = pd.read_csv("city_data.csv")
vac_df

,Unnamed: 0,Cloudiness,Country,Date,Humidity,Lat,Lon,Max Temp,Wind Speed
0,neiafu,75,TO,1581464254,78,-18.65,-173.98,301.15,4.10
1,saint-junien,92,FR,1581464254,93,45.88,0.90,279.26,2.10
2,talnakh,98,RU,1581464255,84,69.49,88.40,255.15,16.00
3,hermanus,0,ZA,1581464255,82,-34.42,19.23,294.82,4.02
4,svetlyy,75,RU,1581464255,86,54.67,20.13,277.15,11.00
...,...,...,...,...,...,...,...,...,...
577,kampong thum,9,KH,1581464451,84,12.71,104.89,296.42,2.22
578,nago,75,JP,1581464451,68,26.59,127.98,294.15,4.10
579,broken hill,0,AU,1581464451,68,-31.95,141.43,293.15,8.70
580,petropavlivka,100,UA,1581464452,97,48.46,36.44,274.52,6.18
581,puerto rondon,41,CO,1581464361,46,6.28,-71.10,301.22,1.95

In [10]:
vac_df['Max Temp'] = vac_df['Max Temp'] - 273
vac_df.head()

,Unnamed: 0,Cloudiness,Country,Date,Humidity,Lat,Lon,Max Temp,Wind Speed
0,neiafu,75,TO,1581464254,78,-18.65,-173.98,28.15,4.10
1,saint-junien,92,FR,1581464254,93,45.88,0.90,6.26,2.10
2,talnakh,98,RU,1581464255,84,69.49,88.40,-17.85,16.00
3,hermanus,0,ZA,1581464255,82,-34.42,19.23,21.82,4.02
4,svetlyy,75,RU,1581464255,86,54.67,20.13,4.15,11.00

In [11]:
vac_df['Max Temp'] = (vac_df['Max Temp'] *9/5) + 32
vac_df.head()

,Unnamed: 0,Cloudiness,Country,Date,Humidity,Lat,Lon,Max Temp,Wind Speed
0,neiafu,75,TO,1581464254,78,-18.65,-173.98,82.670,4.10
1,saint-junien,92,FR,1581464254,93,45.88,0.90,43.268,2.10
2,talnakh,98,RU,1581464255,84,69.49,88.40,-0.130,16.00
3,hermanus,0,ZA,1581464255,82,-34.42,19.23,71.276,4.02
4,svetlyy,75,RU,1581464255,86,54.67,20.13,39.470,11.00

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [9]:
dir(fig)

['__class__',
 '__del__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_add_notifiers',
 '_call_widget_constructed',
 '_comm_changed',
 '_compare',
 '_cross_validation_lock',
 '_default_keys',
 '_default_layout',
 '_display_callbacks',
 '_dom_classes',
 '_errors_box',
 '_gen_repr_from_keys',
 '_get_embed_state',
 '_handle_custom_msg',
 '_handle_displayed',
 '_handle_msg',
 '_holding_sync',
 '_ipython_display_',
 '_is_numpy',
 '_lock_property',
 '_log_default',
 '_map',
 '_model_id',
 '_model_module',
 '_model_module_version',
 '_model_name',
 '_msg_callbacks',
 '_notify_trait',
 '_property_lock',
 '_register_validator',
 '_remove_notifiers',
 '_repr_keys',
 '_send',
 '_should_send_property',
 '_states_to_send',
 '_toolbar',
 '_trait_default_generators',
 '_trait_from_json',
 '_trait_notifiers',
 '_trait_to_json',
 '_trait_validators',
 '_trait_values',
 '_view_count',
 '_view_module',
 '_view_module_version',
 '_view_name',
 '_widget_construction_callback',
 'add_class',
 'add_layer',
 'add_traits',
 'class_own_trait_events',
 'class_own_traits',
 'class_trait_names',
 'class_traits',
 'close',
 'close_all',
 'comm',
 'cross_validation_lock',
 'get_manager_state',
 'get_state',
 'get_view_spec',
 'handle_comm_opened',
 'has_trait',
 'hold_sync',
 'hold_trait_notifications',
 'keys',
 'layout',
 'log',
 'map_type',
 'model_id',
 'mouse_handling',
 'notify_change',
 'observe',
 'on_displayed',
 'on_msg',
 'on_trait_change',
 'on_widget_constructed',
 'open',
 'remove_class',
 'send',
 'send_state',
 'set_state',
 'set_trait',
 'setup_instance',
 'tilt',
 'trait_events',
 'trait_metadata',
 'trait_names',
 'traits',
 'unobserve',
 'unobserve_all',
 'widget_types',
 'widgets']

In [8]:
gmaps.configure(api_key=g_key)
locations = vac_df[["Lat", "Lon"]]
humidity = vac_df["Humidity"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))


* Narrow down the DataFrame to find your ideal weather condition. For example:

  * A max temperature lower than 80 degrees but higher than 70.

  * Wind speed less than 10 mph.

  * Zero cloudiness.

  * Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

  * **Note:** Feel free to adjust to your specifications but be sure to limit the number of rows returned by your API requests to a reasonable number.

* Using Google Places API to find the first hotel for each city located within 5000 meters of your coordinates.

* Plot the hotels on top of the humidity heatmap with each pin containing the **Hotel Name**, **City**, and **Country**.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [12]:
vac_df.head(3)

,Unnamed: 0,Cloudiness,Country,Date,Humidity,Lat,Lon,Max Temp,Wind Speed
0,neiafu,75,TO,1581464254,78,-18.65,-173.98,82.670,4.1
1,saint-junien,92,FR,1581464254,93,45.88,0.90,43.268,2.1
2,talnakh,98,RU,1581464255,84,69.49,88.40,-0.130,16.0

In [13]:
cond = (vac_df['Max Temp'] < 80) & (vac_df['Max Temp'] > 70)
vac_df2 = vac_df[cond]
vac_df2.head(3)

,Unnamed: 0,Cloudiness,Country,Date,Humidity,Lat,Lon,Max Temp,Wind Speed
3,hermanus,0,ZA,1581464255,82,-34.42,19.23,71.276,4.02
8,rikitea,26,PF,1581464008,78,-23.12,-134.97,79.664,8.49
10,richards bay,16,ZA,1581463981,70,-28.78,32.04,75.290,5.86

In [17]:
cond = (vac_df2['Wind Speed'] < 10) & (vac_df2['Cloudiness']==0 )
vac_df3 = vac_df2[cond]
vac_df3

,Unnamed: 0,Cloudiness,Country,Date,Humidity,Lat,Lon,Max Temp,Wind Speed
3,hermanus,0,ZA,1581464255,82,-34.42,19.23,71.276,4.02
20,port elizabeth,0,ZA,1581464261,83,-33.92,25.57,70.070,5.70
38,cape town,0,ZA,1581463867,72,-33.93,18.42,72.266,4.60
52,saldanha,0,ZA,1581464271,53,-33.01,17.94,73.670,2.10
62,bredasdorp,0,ZA,1581464045,82,-34.53,20.04,70.268,5.10
65,bubaque,0,GW,1581464275,74,11.28,-15.83,79.538,6.64
73,springbok,0,ZA,1581464279,26,-29.66,17.89,76.820,3.24
143,phan thiet,0,VN,1581464242,77,10.93,108.10,72.320,1.67
203,bonawon,0,PH,1581464322,72,9.13,122.92,78.998,8.42
218,buenos aires,0,AR,1581464108,64,-34.61,-58.38,74.264,6.70
237,vredendal,0,ZA,1581464332,46,-31.67,18.50,73.526,2.89
290,veraval,0,IN,1581464350,45,20.90,70.37,72.536,4.41
437,quang ngai,0,VN,1581464204,84,15.12,108.80,71.780,2.04
482,praia,0,CV,1581464419,43,14.92,-23.51,73.670,8.20
494,porbandar,0,IN,1581464422,58,21.64,69.61,74.768,4.93
505,nioro,0,GM,1581464426,13,13.35,-15.75,75.308,1.89
537,geraldton,0,AU,1581464437,61,-28.77,114.60,79.070,6.70
540,vila do maio,0,CV,1581464438,43,15.13,-23.22,73.670,8.20
548,mercedes,0,AR,1581464441,36,-34.65,-59.43,74.264,4.02

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map